* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main_background: rgb(214, 214, 214);
    --header-color: rgb(54, 54, 54);
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
}

/* MAIN */
main {
    background-color: var(--main_background);
    min-height: 78.4vh;
}

.main-title {
    padding: 20px;
}

.main-hr {
    width: 98%;
}

.contenedor-hr {
    display: flex;
    justify-content: center;
}

.main-container {
    padding: 30px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
} 

/* HEADER */

header {
    background-color: rgb(54, 54, 54);
}

.header-title {
    padding-top: 10px;
    padding-left: 10px;
}

.header-title a {
    text-decoration: none;
    color: white
}

.navbar-elements {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 125%;
}

.navbar-element {
    padding: 5px 0px 5px 10px;
}

.navbar-element a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}

.navbar-element a:hover {
    border-radius: 3px;
    background-color: rgb(194, 194, 194);
    color: black;
}

.navbar-element a:active {
    background-color: white;
}

/* MAIN */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.cards-container .contactos-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 200px;
    padding: 30px 20px 25px;
    margin: 25px;
    border-radius: 5px;
    align-items: center;
}

.img-card {
    background-color: white;
    width: 80%;
}

.card-title {
    margin: 15px 0;
}

.card-button {
    height: 30px;
    background-color: rgb(36, 127, 245);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    border-radius: 3px;
}

.card-button .button-link {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.card-button:hover {
    background-color: rgb(15, 79, 199);
    transition: 0.2s;
}

/* FOOTER */

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}

.footer-info {
    padding: 12px 10px 12px 10px;
    text-align: center;
}