* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main_background: rgb(214, 214, 214);
    --header-color: rgb(54, 54, 54);
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
}

/* HEADER */

header {
    background-color: var(--header-color);
}

.header-title {
    padding-top: 10px;
    padding-left: 10px;
}

.header-title a {
    text-decoration: none;
    color: white
}

.navbar-elements {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 125%;
}

.navbar-element {
    padding: 5px 0px 5px 10px;
}

.navbar-element a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}

.navbar-element a:hover {
    border-radius: 3px;
    background-color: rgb(194, 194, 194);
    color: black;
}

.navbar-element a:active {
    background-color: white;
}

/* MAIN */

main {
    background-color: var(--main_background);
    min-height: 78.4vh;
}

.main-container {
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.main-container p {
    padding: 20px 0 20px 0;
}

.main__boton-catalogo {
    display: flex;
    justify-content: center;
}

.main__boton-catalogo a {
    text-decoration: none;
    color: rgb(223, 223, 223);
    background-color: rgb(128, 93, 41);
    border-radius: 3px;
    padding: 5px 30px;
    font-size: 125%;
    margin-bottom: 20px;
    text-shadow:2cm;
}

.main-container img {
    width: 50%;
}

@media (max-width: 800px) {
    body {
        width: 100vw;
    }

    .main-container img {
        width: 80vw;
    }

    .navbar-elements {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 860px) {
    
}

/* FOOTER */

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}

.footer-info {
    padding: 12px 10px 12px 10px;
    text-align: center;
}

/* .footer-logo img {
    height: 20%;
} */

